### AzureFunctions template
local.settings.json

### JupyterNotebooks template
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

### Flask template
instance/*
!instance/.gitignore
.webassets-cache
.env

### FastAPI template
__pycache__/
.env
.env.local
.env.*.local
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.db-shm
*.db-wal

# Exclure les fichiers PyCharm et configurations locales
.idea/
*.iml

# Exclure les données volumineuses dans le dossier data sauf si elles sont nécessaires
data/*.csv
data/*.bin

# Ignorer les fichiers logs
logs/
*.log

# Exclure tous les fichiers du dossier models sauf les fichiers nécessaires pour l'API
models/*
!models/tv_layer_config.json
!models/best_model_fasttext.keras
!models/tv_layer_vocabulary.txt

# Assurez-vous que le dossier models est inclus même s'il est vide
!models/.gitkeep


# Exclure les notebooks pour alléger le dépôt
notebooks/

